<script src="/javascripts/utilidades.js"></script>
<script src="/javascripts/tagsinput.js"></script>
<script>
    $(document).ready(function() {
        $("#hab").tagsinput();
        $("#enf").tagsinput();
        $("#enf_her").tagsinput();
        cambiarFecha();


        function cambiarFecha() {
            var fecha = "<%= paci.fecha_nac %>";
            //alert(fecha);
            var d = new Date(fecha);
            var mes = d.getMonth() + 1;
            var dia = d.getDate();
            //alert((d.getDate()+"/"+(d.getMonth()+1))+"/"+d.getFullYear());
            var fecha = (d.getFullYear() + "-" + rellenarCeros(mes, 2) + "-" + rellenarCeros(dia, 2));
            console.log(fecha);
            $("#fecha_nac").val(fecha);
        }

        function rellenarCeros(texto, nro_cro) {
            if (texto.length < nro_cro) {
                for (var i = texto.length; i < nro_cro; i++) {
                    aux += "0";
                }
                return aux + texto;
            } else {
                return texto;
            }
        }
    });
</script>
<script>
    $(function() {
        $.validator.addMethod("soloLetras", function(value, element) {
            return this.optional(element) || /^[a-z\s]+$/i.test(value);
        }, "Solo letras");

        $.validator.addMethod("registro", function(value, element) {
            return this.optional(element) || /^[N]-[0-9]{4}-[R]-[0-9]{3}$/.test(value);
        }, "Ingrese un registro valido");

        $.validator.addMethod("cedula", function(value, element) {
            return this.optional(element) || validarCedula(value);
        }, "Cedula no valida");
        $("#formulario").validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                cedula: {
                    required: true,
                    minlength: 10,
                    maxlength: 10,
                    cedula: true
                },
                apellidos: {
                    required: true
                },
                nombres: {
                    required: true
                }
            },
            highlight: function(e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function(e) {
                $(e).closest('.form-group').removeClass('has-error'); //.addClass('has-info');
                $(e).remove();

            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    });
</script>
<div class="container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading">Modificar pacientes</div>
        <div class="panel-body">
            <form id="formulario" method="POST" action="/administracion/pacientes/update">
                <input type="hidden" name="token" value="<%= paci.external_id%>" />
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Paciente</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Historial</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="form-group">
                                <label for="cedula" class="control-label">Cedula:</label>
                                <input type="text" class="form-control" id="cedula" name="cedula" value="<%= paci.cedula %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="apellidos" class="control-label">Apellidos:</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" value="<%= paci.apellidos %>">
                            </div>
                            <div class="form-group">
                                <label for="nombres" class="control-label">Nombres:</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" value="<%= paci.nombres %>">
                            </div>

                            <div class="form-group">
                                <label for="fecha_nac" class="control-label">Fecha de nacimiento:</label>
                                <input type="date" class="form-control" id="fecha_nac" name="fecha_nac" value="<%= paci.fecha_nac %>">
                            </div>
                            <div class="form-group">
                                <label for="edad" class="control-label">Edad:</label>
                                <input type="text" class="form-control" id="edad" name="edad" value="<%= paci.edad %>">
                            </div>
                            <div class="form-group">
                                <label for="direccion" class="control-label">Direccion:</label>
                                <textarea id="direccion" class="form-control" name="direccion"><%= paci.direccion %></textarea>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="form-group">
                                <label for="nro_his" class="control-label">Nro historial:</label>
                                <input type="text" class="form-control" id="nro_historia" name="nro_historia" value="<%= paci.historia.nro_historia %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="enf" class="control-label">Enfermedades:</label>
                                <input type="text" class="form-control" id="enfermedades" name="enfermedades" value="<%= paci.historia.enfermedades %>">
                            </div>
                            <div class="form-group">
                                <label for="enf_her" class="control-label">Enfermedades hederitarias:</label>
                                <input type="text" class="form-control" id="enfermedades_h" name="enfermedades_h" value="<%= paci.historia.enfer_hede %>">
                            </div>
                            <div class="form-group">
                                <label for="hab" class="control-label">Habitos:</label>
                                <input type="text" class="form-control" id="habito" name="habito" value="<%= paci.historia.habitos %>">
                            </div>
                            <div class="form-group">
                                <label for="contacto" class="control-label">En caso de emergencia llamar:</label>
                                <input type="text" class="form-control" id="contacto" name="contacto" value="<%= paci.historia.contacto %>">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/administracion/pacientes" class="btn btn-default">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>