<h1>Hola Santiago</h1>
<form method="POST" action="/admin/generar">
    <div class="form-group">
        <select name="a">
            <% for(var i = 1 ; i<=13 ; i++) { %>
                <option value="<%= i %>"> <%= i %></option>
            <% }%>
        </select>
    </div>
    <div class="form-group">
        <select name="b">
                <% for(var i = 1 ; i<=13 ; i++) { %>
                    <option value="<%= i %>"> <%= i %></option>
                <% }%>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Generar</button>
</form>