<script type="text/javascript">
    $(document).ready(function() {
        validacionPaciente();
    });
</script>
<br>
<div class="content">
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registroPaciente">
    Registro de Paciente
</button>

<!-- Modal -->

<div class="modal fade" id="registroPaciente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form_registro" method="POST" action="/paciente/guardar">
                <div class="modal-body">
                    <input type="hidden" value="0" id="external" name="external" />
                    <div id="error"></div>

                    <div class="form-group ">
                        <label for="recipient-name" class="col-form-label">Cedula:</label>
                        <input type="text" class="form-control" name="cedula" id="cedula">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Apellidos:</label>
                                <input type="text" class="form-control" name="apellido" id="apellido">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nombres:</label>
                                <input type="text" class="form-control" name="nombre" id="nombre">
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Direccion:</label>
                        <input type="text" class="form-control" name="direccion" id="direccion">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Habitos:</label>
                        <textarea type="text" class="form-control" name="habito" id="habito" rows="3"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">enfermedades:</label>
                        <!--<input type="text" class="form-control" name="habitos" id="enfermedades">-->
                        <textarea type="text" class="form-control" name="enfermedades" id="enfermedades" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">enfermedades hereditarias:</label>
                        <textarea type="text" class="form-control" name="enfermedades_h" id="enfermedades_h" rows="3"></textarea>

                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Contacto:</label>
                        <input type="number" class="form-control" name="contacto" id="contacto">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nro Historia:</label>
                        <input type="text" class="form-control" name="nro_historia" id="nro_historia" value="<%= nro %>" readonly>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="guardar" name="guardar" data-dismiss="modal">Guardar</button>
                </div>
                <!--<button type="button" class="btn btn-primary" id="actualizar" name="actualizar"  >actualizar</button>
                        -->
            </form>
        </div>
    </div>
</div>

<button type="button" class="btn btn-secondary" id="cerrarSesion" name="cerrar">
    cerrar sesion
</button>

<div id="user" class="nav-link"> </div>

<br>

<h1>Historial Clinico</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nro</th>
            <th scope="col">Cedula</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre </th>
            <th scope="col">telefono </th>
            <th scope="col">Nro_Historia</th>
            <th scope="col">Accion</th>

        </tr>
    </thead>
    <% if (listado != ""){%>
        <tbody id="tablatbody">
            <% listado.forEach(function(item,index){%>
                <tr>
                    <td>
                        <%= (index + 1)%>
                    </td>
                    <td>
                        <%= item.cedula %>
                    </td>
                    <td>
                        <%= item.apellidos %>
                    </td>
                    <td>
                        <%= item.nombres %>
                    </td>
                    <td>
                        <%= item.historial.nro_historia %>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary">Modificar</a>
                    </td>
                </tr>
                <%})%>

        </tbody>
        <%}%>
</table>